extends ../../layout

block content_style
	link(rel='stylesheet', type='text/css', href='/styles/add.css')

block content_scripts
	script(type='text/javascript', src='/scripts/jquery.filedrop.js')
	script(type='text/javascript', src='/scripts/jquery-ui-1.10.4.custom.min.js')
	script(type='text/javascript', src='/scripts/add.js')
	script(type='text/javascript', src='/scripts/upload.js')

block content
	- var year = new Date()
	- year = year.getFullYear()
	- var months = ['ЯНВАРЬ', 'ФЕВРАЛЬ', 'МАРТ', 'АПРЕЛЬ', 'МАЙ', 'ИЮНЬ', 'ИЮЛЬ', 'АВГУСТ', 'СЕНТЯБРЬ', 'ОКТЯБРЬ', 'НОЯБРЬ', 'ДЕКАБРЬ']
	.form_block
		a.back_link(href='/auth') < Назад
		.title РЕДАКТИРОВАТЬ РАБОТУ
		form(action="", method="post", enctype="multipart/form-data")
			.form_title Заголовок:
			input.ru(type='text' name="ru[title]", value=work.ru.title)
			input.en(type='text' name="en[title]", disabled)
			.form_title Заголовок (мета):
			input(type='text' name="meta[title]", value=work.meta.title)
			.form_title Описание:
			textarea.ru(name="ru[description]", rows="8",)= work.ru.description
			textarea.en(name="en[description]", rows="8", disabled)
			.form_title Описание (мета):
			textarea(name="meta[description]", rows="8",)= work.meta.description
			.form_title Лого:
			input(type='text' name="logo", value=work.logo)
			.form_title Дата:
			- var now = new Date()
			select(name='date[date]')
				option(value='') День
				- for (var i=1; i<32; i++)
					- var day = i <= 9 ? '0' + i : i
					option(value=i, selected=work.date.getDate() == i)= day
			b /
			select(name='date[month]')
				option(value='') Месяц
				each month, i in months
					option(value=i, selected=work.date.getMonth() == i)= month
			b /
			select(name='date[year]')
				option(value='') Год
				option(value=year, selected=(year == work.date.getFullYear()))= year
				option(value=year - 1, selected=(year - 1 == work.date.getFullYear()))= year - 1
				option(value=year - 2, selected=(year - 2 == work.date.getFullYear()))= year - 2
				option(value=year - 3, selected=(year - 3 == work.date.getFullYear()))= year - 3
			.form_title Категория:
			select(name='tag')
				option(value='urbanism', selected=work.tag=='urbanism') Урбанизм
				option(value='architecture', selected=work.tag=='architecture') Архитектура
				option(value='urban_projects', selected=work.tag=='urban_projects') Специальные проекты
				option(value='exhibitions', selected=work.tag=='exhibitions') Выставки
				option(value='industrial_design', selected=work.tag=='industrial_design') Промышленный дизайн
				option(value='installation', selected=work.tag=='installation') Инсталяции
				option(value='navigation', selected=work.tag=='navigation') Навигация
				option(value='graphic_design', selected=work.tag=='graphic_design') Графический дизайн
			.form_title Изображения:
			.form_images_upload
				.form_desc_title Нажми или перетащи
				each image, i in work.images
					.image_upload_block
						.image_upload_preview(style='background-image:url(' + image.path + ')')
							.image_upload_delete Удалить
						textarea.image_upload_description(name='images[description]')= image.description
						input.image_upload_form(type='hidden', name='images[path]', value=images_preview[i])
			br
			input(type='button', class='toggle_eng', value='Перевод')
			input(type="submit", value="Редактировать")
			br
			br