extends ../layout

block title
	title= post.meta.title || post.ru.title
	meta(name='description', content=post.meta.description)
	meta(property='og:description', content=post.ru.body)
	meta(property='og:image', content='http://nrdn.ru'+post.image+'')
block content_style
	link(rel='stylesheet', type='text/css', href='/styles/post.css' + version)

block content_scripts
	//- script(type='text/javascript', src='/scripts/blog.js' + version)

block content
	.content_block_inner
		.post_item_block
			img.post_img(src=post.image)
			.post_dscription_block
				h1.post_title= post.ru.title
				.post_social
					|<script type="text/javascript">(function() {
					|  if (window.pluso)if (typeof window.pluso.start == "function") return;
					|  if (window.ifpluso==undefined) { window.ifpluso = 1;
					|    var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
					|    s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
					|    s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
					|    var h=d[g]('body')[0];
					|    h.appendChild(s);
					|  }})();</script>
					|<div class="pluso" data-background="transparent" data-options="small,round,line,horizontal,counter,theme=04" data-services="vkontakte,facebook,twitter" data-user="294885166"></div>
			.post_body
				!= post.ru.body